* {
	box-sizing: border-box;
	margin: 0
}
.row {
		margin-top:30px;
}
@media (min-width: 992px) {
	.row {
		float: left;
		width: 33.3%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.row1,.row2 {
		float:left;
		width: 50%;
	}

	.row3 {
		float:left;
		width: 100%;
	}

}

div {
		margin-left: 10px;
		margin-right: 10px;
		padding: 10px;
		padding-top: 30px;
		background-color: gray;
		border:2px solid black;
		position: relative;
}

h1 {
	font-size: 175%;
	text-align: center;
	font-family: Lucida Console;
	margin:20px;
}


h2 {
	width: 100px;
	position: absolute;
	top:0px;
	right:0px;
	text-align:center; 
	border: 2px solid black;
	font-size: 125%;
}

.subtitle1 {
	background-color: pink;
	font-weight: bold;
}
.subtitle2 {
	background-color: maroon;
	color: white;
	font-weight: bold;
}
.subtitle3 {
	background-color: rgba(75,105,30,0.5);
	font-weight: bold;
}